@import '../../commons/styles/main.scss';

$calendar-width: 256px;
$calendar-height: 256px;
$day-view-column-number: 7;
$month-view-column-number: 3;
$calendar-height: 256px;
$calendar-width: 256px;
$toolbar-px: .375rem;
$toolbar-py: .25rem;
$headings-wrapper-px: .25rem;
$headings-wrapper-py: .125rem;
$day-grid-px: .25rem;
$day-grid-py: 0;
$month-grid-px: .25rem;
$month-grid-py: .25rem;
$calendar-wrapper-px: 0;
$calendar-wrapper-py: 0;
$base-font-size: .8rem;

.time-picker-wrapper {
    position: relative;
    height: 256px;
    width: 256px;
    // border: 1px solid #000;
    border-radius: .25rem;
    box-sizing: $box-sizing;
    box-shadow: 0px 0px 1px #333;
    font-family: sans-serif;
    // height: $calendar-height;
    background: white;
    outline: 0;
    overflow: hidden;
    padding: $calendar-wrapper-py $calendar-wrapper-px;
    user-select: none;
    width: $calendar-width;
}