@use 'sass:map';
$baseSize: 1rem;
$baseLineHeight: 1rem;
$sizings: (
    1: $baseSize * .5,
    2: $baseSize * .75,
    3: $baseSize,
    4: $baseSize * 1.25,
    5: $baseSize * 1.5,
    6: $baseSize * 2,
    7: $baseSize * 3,
);
$colors: (
    'purple': #C200FB, 
    'blue': #5BC0EB,
    'yellow': #FFD23F,
    'green': #44BBA4,
    'red': #F13030
);
$fontSizes: ();
@each $size, $value in $sizings {
    $fontSizes: map-merge($fontSizes, (fz-#{$size}: $value))
}