@use 'sass:map';
@import '../../commons/sass/variables.scss';

$px: .425rem;
$py: .275rem;
$px-lg: .725rem;
$py-lg: .425rem;
$px-sm: .275rem;
$py-sm: .15rem;
$b-radius: .2rem;
$b-radius-lg: .4rem;
// $colors: (
//     'purple': #C200FB, 
//     'blue': #5BC0EB,
//     'yellow': #FFD23F,
//     'green': #44BBA4,
//     'red': #F13030
// );

.button {
    padding: $py $px;
    border: 2px solid transparent;
    font-size: map-get($fontSizes, "fz-3");
    border-radius: $b-radius;
}

@each $color, $value in $colors {
    .btn-#{$color} {
        background-color: $value;
        background-image: linear-gradient(135deg, scale-color($color: $value, $saturation: 25%, $lightness: 10%) 50%, $value);
    }
}

.button:hover {
    filter: saturate(110%) brightness(101%);
}

.lg {
    padding: $py-lg $px-lg;    
    font-size: map-get($fontSizes, "fz-4");
    border-radius: $b-radius-lg;
}

.sm {
    padding: $py-sm $px-sm;
    font-size: .9rem;
}

.outlined {

}