.calendar-wrapper {
    width: 256px;
    .header {
        display: flex;
        flex-flow: column nowrap;
        .headings-wrapper {
            
        }
        .day-heading {
            display: inline-block;
        }
        .toolbar {
    
            > button {
                // background: #000;
            }

        }

    }
    .day-grid {

    }
}