*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
  visibility: hidden;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.input-with-dropdown {
  margin: auto;
  position: relative;
  border-radius: 0.25rem;
  display: inline-block;
  font-family: sans-serif;
}

.input-with-dropdown .dropdown-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-radius: .25rem;
  width: 100%;
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.input-with-dropdown .dropdown-inner {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: -1rem;
  max-height: 12rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.input-with-dropdown > input {
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-bottom-color: cornflowerblue;
  border-left-width: 0;
  border-right-width: 0;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem;
  height: 2rem;
  padding: 0.375rem 2rem 0.375rem calc(2rem - 1px);
  position: relative;
  width: 14rem;
  z-index: 1;
  color: #232323;
}

.input-with-dropdown .input-shadow {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.input-with-dropdown .option {
  padding: 0.375rem 0 0.375rem calc(2rem - 1px);
  border-color: transparent;
  border-style: solid;
  border-width: 2px 0;
  height: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  color: #232323;
  scroll-snap-align: center;
}

.input-with-dropdown .option:hover {
  background-color: rgba(18, 18, 18, 0.055);
}

.input-with-dropdown .suggestion {
  background-color: white;
  height: 2rem;
  border-color: transparent;
  border-style: solid;
  border-width: 2px 0;
  font-size: 1rem;
  padding: 0.375rem 2rem 0.375rem calc(2rem - 1px);
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: .65;
}
/*# sourceMappingURL=InputWithDropdown.css.map */