@import '../../commons/styles/main.scss';

$calendar-width: 256px;
$calendar-height: 256px;
$day-view-column-number: 7;
$month-view-column-number: 3;
$calendar-height: 256px;
$calendar-width: 256px;
$toolbar-px: .375rem;
$toolbar-py: .25rem;
$headings-wrapper-px: .25rem;
$headings-wrapper-py: .125rem;
$day-grid-px: .25rem;
$day-grid-py: 0;
$month-grid-px: .25rem;
$month-grid-py: .25rem;
$calendar-wrapper-px: 0;
$calendar-wrapper-py: 0;
$base-font-size: .8rem;

.calendar-wrapper {
    border-radius: .25rem;
    box-sizing: $box-sizing;
    box-shadow: 0px 0px 1px #333;
    font-family: sans-serif;
    // height: $calendar-height;
    outline: 0;
    overflow: hidden;
    padding: $calendar-wrapper-py $calendar-wrapper-px;
    user-select: none;
    width: $calendar-width;
    .header {
        display: flex;
        flex-flow: column nowrap;
        .headings-wrapper {
            padding: $headings-wrapper-py $headings-wrapper-px;
        }
        .day-heading {
            display: inline-block;
            font-size: $base-font-size;
            text-align: center;
            width: calc(100% / #{$day-view-column-number});
        }
        .toolbar {
            display: flex;
            padding: $toolbar-py $toolbar-px;
            > button, .title {
                display: inline-block;
                line-height: 1.5rem;
            }
            > button {
                user-select: none;
                border-radius: 50%;
                height: 1.5rem;
                width: 1.5rem;
                border: 0;
            }
            > .title {
                cursor: pointer;
                margin: 0 auto;
                padding: 0 .5rem;
            }

        }

    }
    .month-grid {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding: $month-grid-py $month-grid-px;
        .month-wrapper {
            border-radius: 50%;
            flex: 0 0 calc(100% / #{$month-view-column-number});
            height: 0;
            padding-bottom: calc(66.666% / #{$month-view-column-number});
            position: relative;
            text-align: center;
            width: calc(100% / #{$month-view-column-number});
        }
        .month {
            bottom: .125rem;
            left: .125rem;
            position: absolute;
            line-height: 3rem;
            right: .125rem;
            font-size: .9rem;
            top: .125rem;
            &:hover {
                background: rgba(#000, .075);
            }
            &.month-today {
                color: lighten(#232323, 3%);
                background: scale-color(cornflowerblue, $saturation: -30%, $lightness: 10%);
            }
        }
    }
    .day-grid {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding: $day-grid-py $day-grid-px;
        .day-wrapper {
            border-radius: 50%;
            flex: 0 0 calc(100% / #{$day-view-column-number});
            height: 0;
            padding-bottom: calc(100% / #{$day-view-column-number});
            position: relative;
            text-align: center;
            width: calc(100% / #{$day-view-column-number});
            
        }
        .day {
            border-radius: 50%;
            bottom: .25rem;
            left: .25rem;
            position: absolute;
            line-height: 1.75rem;
            right: .25rem;
            font-size: .9rem;
            top: .25rem;
            &:hover {
                background: rgba(#000, .075);
            }
            &.day-today {
                color: lighten(#232323, 3%);
                background: scale-color(cornflowerblue, $saturation: -30%, $lightness: 10%);
            }
        }
    }
}