.picker-outer, .picker-outer * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.picker-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16rem;
}

.picker-wrapper > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.picker-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5rem;
  max-width: 16rem;
}

.color-copier {
  width: 100%;
  font-family: sans-serif;
  padding: .5rem .5rem 0;
  text-align: center;
}

.color-copier > span {
  margin-left: .5rem;
}

.color-display {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 2px solid #323232;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.alpha-picker {
  height: 1.5rem;
  width: 1.5rem;
  -webkit-box-shadow: 0 0 0 2px #323232;
          box-shadow: 0 0 0 2px #323232;
  position: absolute;
  border-radius: 50%;
  top: calc(50% - .75rem - 1px);
  left: calc(-1.5rem - 1.5rem);
  background: #323232;
  -webkit-transform-origin: calc(5rem) center;
          transform-origin: calc(5rem) center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.alpha-picker:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background-color: white;
  opacity: var(--opacity);
  content: '';
}

.color-pickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.individual-color-picker {
  height: .9rem;
  overflow: hidden;
  border-radius: .25rem;
  -webkit-box-shadow: inset 0 0 2px rgba(18, 18, 18, 0.275);
          box-shadow: inset 0 0 2px rgba(18, 18, 18, 0.275);
}

.individual-color-picker:not(:first-child) {
  margin-top: .175rem;
}

.individual-color-picker:not(:last-child) {
  margin-bottom: .175rem;
}

.individual-color-picker:first-child {
  margin-top: auto;
}

.individual-color-picker:last-child {
  margin-bottom: auto;
}

.individual-color-picker > input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  height: 100%;
  width: calc(100% + .25rem);
  display: block;
  outline: none;
  margin: 0 -.125rem;
}

.individual-color-picker.red {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(-2rem, #232), color-stop(90%, #f00));
  background-image: linear-gradient(to right, #232 -2rem, #f00 90%);
}

.individual-color-picker.blue {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(-2rem, #232), color-stop(90%, #00f));
  background-image: linear-gradient(to right, #232 -2rem, #00f 90%);
}

.individual-color-picker.green {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(-2rem, #232), color-stop(90%, #0f0));
  background-image: linear-gradient(to right, #232 -2rem, #0f0 90%);
}
/*# sourceMappingURL=ColorPicker.css.map */