.menu {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 325ms ease -10ms;
  transition: -webkit-transform 325ms ease -10ms;
  transition: transform 325ms ease -10ms;
  transition: transform 325ms ease -10ms, -webkit-transform 325ms ease -10ms;
  pointer-events: none;
  font-family: sans-serif;
}

.menu .nav {
  font-size: 3rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  font-weight: 800;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.menu .close {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: auto;
  border-bottom-color: #e2e8f0;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #e2e8f0;
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: #e2e8f0;
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: #e2e8f0;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-top-style: solid;
  border-top-width: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: block;
  float: right;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 30px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  -webkit-font-variant-ligatures: normal;
          font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 44.8px;
  letter-spacing: normal;
  line-height: 45px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 12px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 0px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  text-transform: none;
  vertical-align: middle;
  width: 44.625px;
  word-spacing: 0px;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  -webkit-appearance: none;
  -webkit-border-image: none;
}

.menu.open {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  pointer-events: auto;
  -webkit-transition: -webkit-transform 250ms ease 150ms;
  transition: -webkit-transform 250ms ease 150ms;
  transition: transform 250ms ease 150ms;
  transition: transform 250ms ease 150ms, -webkit-transform 250ms ease 150ms;
}

.menu .link {
  position: relative;
  z-index: 0;
  text-decoration: none;
  color: black;
}

.menu .link:not(:first-child) {
  margin-top: .25rem;
}

.menu .link:not(:last-child) {
  margin-bottom: .25rem;
}

.menu .link:after {
  content: '';
  position: absolute;
  top: 8px;
  left: -8px;
  bottom: 4px;
  right: -8px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: scaleY(0.09);
          transform: scaleY(0.09);
  -webkit-transition: -webkit-transform 225ms;
  transition: -webkit-transform 225ms;
  transition: transform 225ms;
  transition: transform 225ms, -webkit-transform 225ms;
  -webkit-transition-delay: 125ms;
          transition-delay: 125ms;
  z-index: -1;
  background: #000;
}

.menu .link:hover {
  color: white;
  text-shadow: -2px 3px 3px rgba(255, 255, 255, 0.3);
}

.menu .link:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
/*# sourceMappingURL=FullscreenMenu.css.map */