.menu {
    transform: scaleX(0);
    transition: transform 325ms ease -10ms;
    pointer-events: none;
    font-family: sans-serif;
    .nav {
        font-size: 3rem;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        font-weight: 800;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        background-color: #fff;
    }
    .close {
        align-items:flex-start;
        background-attachment:scroll;
        background-clip:border-box;
        background-color:rgba(0, 0, 0, 0);
        background-image:none;
        background-origin:padding-box;
        background-position-x:0px;
        background-position-y:0px;
        // background-repeat-x:;
        // background-repeat-y:;
        background-size:auto;
        border-bottom-color:rgb(226, 232, 240);
        border-bottom-left-radius:9999px;
        border-bottom-right-radius:9999px;
        border-bottom-style:solid;
        border-bottom-width:0px;
        border-image-outset:0px;
        border-image-repeat:stretch;
        border-image-slice:100%;
        border-image-source:none;
        border-image-width:1;
        border-left-color:rgb(226, 232, 240);
        border-left-style:solid;
        border-left-width:0px;
        border-right-color:rgb(226, 232, 240);
        border-right-style:solid;
        border-right-width:0px;
        border-top-color:rgb(226, 232, 240);
        border-top-left-radius:9999px;
        border-top-right-radius:9999px;
        border-top-style:solid;
        border-top-width:0px;
        box-sizing:border-box;
        color:rgb(0, 0, 0);
        cursor:pointer;
        display:block;
        float:right;
        font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size:30px;
        font-stretch:100%;
        font-style:normal;
        font-variant-caps:normal;
        font-variant-east-asian:normal;
        font-variant-ligatures:normal;
        font-variant-numeric:normal;
        font-weight:400;
        height:44.8px;
        letter-spacing:normal;
        line-height:45px;
        margin-bottom:0px;
        margin-left:0px;
        margin-right:20px;
        margin-top:12px;
        overflow-x:visible;
        overflow-y:visible;
        padding-bottom:0px;
        padding-left:12px;
        padding-right:12px;
        padding-top:0px;
        pointer-events:auto;
        position:relative;
        text-align:center;
        text-indent:0px;
        text-rendering:auto;
        text-shadow:none;
        text-size-adjust:100%;
        text-transform:none;
        vertical-align:middle;
        width:44.625px;
        word-spacing:0px;
        writing-mode:horizontal-tb;
        -webkit-appearance:none;
        -webkit-border-image:none;
    }
}


.menu.open {
    transform: scaleX(1);
    pointer-events: auto;
    transition: transform 250ms ease 150ms;
}

.menu .link {
    position: relative;
    z-index: 0;
    text-decoration: none;
    color: black;
    &:not(:first-child) {
        margin-top: .25rem;
    }
    &:not(:last-child) {
        margin-bottom: .25rem;
    }
    &:after {
        content: '';
        position: absolute;
        top: 8px;
        left: -8px;
        bottom: 4px;
        right: -8px;
        transform-origin: bottom center;
        transform: scaleY(.09);
        transition: transform 225ms;
        transition-delay: 125ms;
        z-index: -1;
        background: #000;
    }

    &:hover {
        color: white;
        // mix-blend-mode: none;
        text-shadow: -2px 3px 3px rgba(255, 255, 255, .3);

        &:after {
            // mix-blend-mode: invert;
            transform: scaleY(1);
            transition-delay: 0s;
        }
    }
}