.tooltip-outer {
    @apply bg-gray-800 text-white text-sm;
    padding: .125rem .25rem;
    position: absolute;
    white-space: nowrap;
    border-radius: .125rem;
    pointer-events: none;
    box-shadow: 0 2px 2px rgba(18, 18, 18, .125);
    display: block;
    z-index: 9999;
}
.tooltip-outer:after {
    @apply bg-gray-800;
    height: .25rem;
    width: .25rem;
    transform: translate(-50%, -50%) rotateZ(45deg);
    position: absolute;
    content: '';
    /* border-radius; */
    box-shadow: inherit;
    transition: none !important;
    opacity: inherit;
}
.top, .bottom {
    transform: translateX(-50%);
}
.left, .right {
    transform: translateY(-50%);
}
.top:after {
    left: 50%;
    top: 100%;
}
.bottom:after {
    left: 50%;
    top: 0%;
}
.left:after {
    left: 100%;
    top: 50%;
}
.right:after {
    left: 0%;
    top: 50%;
}