.about-me {
    font-size: theme('fontSize.md');
    padding: 1ch;
}
.my-text > emotive {
    --emotion: attr(data-emotion);
    position: relative;
}
.my-text-animated > emotive::after {
    content: var(--emotion);
    font-size: theme('fontSize.lg');
    position: absolute;
    opacity: 0;
    left: 50%;
    top: -60%;
    animation: fadeInOut 3000ms ease-in-out, slideUp 3000ms ease-out;
    transform: translateX(-50%);
    animation-delay: inherit;
}
.blinking-cursor {
    animation: blink 700ms infinite;
}
@screen lg {
    .about-me {
        font-size: theme('fontSize.xl');
    }
}
@keyframes fadeInOut {
    35%, 50% {
        opacity: 1;
    }
    0%, 5%, 85%, 100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
@keyframes slideUp {
    0%, 5% {
        transform: translateY(0%) translateX(-50%);
    }
    95% {
        transform: translateY(-50%) translateX(-50%);
    }
}
@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.00001%, 100% {
        opacity: 0;
    }
}